# Cleaning Names by State Data

Imports

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os

Collect the files

In [2]:
state_folder = os.path.join(os.getcwd(), "../data/namesbystate_tester")
state_paths = []
for _, _, found_file in os.walk(state_folder):
    for state in found_file:
        state_paths.append(os.path.join(state_folder, state))

['/Users/macair/Documents/github/us_names_census/src/../data/namesbystate_tester/STATE.AL.TXT', '/Users/macair/Documents/github/us_names_census/src/../data/namesbystate_tester/STATE.AZ.TXT', '/Users/macair/Documents/github/us_names_census/src/../data/namesbystate_tester/STATE.AK.TXT', '/Users/macair/Documents/github/us_names_census/src/../data/namesbystate_tester/STATE.CA.TXT', '/Users/macair/Documents/github/us_names_census/src/../data/namesbystate_tester/STATE.AR.TXT', '/Users/macair/Documents/github/us_names_census/src/../data/namesbystate_tester/STATE.CO.TXT']

Stack the dataframes and add a header using a loop

In [11]:
state_header = ['STATE', 'SEX', 'YEAR', 'NAME', 'COUNT']
state_dfs = []
for state_path in state_paths:
    state_dfs.append(pd.read_csv(state_path, names=state_header))

state_df = pd.concat(state_dfs, ignore_index=True)

In [13]:
state_df.tail()

       STATE SEX  YEAR       NAME  COUNT
924795    CO   M  2022       Wynn      5
924796    CO   M  2022  Zephaniah      5
924797    CO   M  2022     Zephyr      5
924798    CO   M  2022       Zeus      5
924799    CO   M  2022       Zyon      5