# Cleaning Names by State Data

Imports

In [14]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os

Collect the files

In [15]:
state_folder = os.path.join(os.getcwd(), "../data/namesbystate")
state_paths = []
for _, _, found_file in os.walk(state_folder):
    for state in found_file:
        state_paths.append(os.path.join(state_folder, state))

Stack the dataframes and add a header using a loop

In [16]:
state_header = ['STATE', 'SEX', 'YEAR', 'NAME', 'COUNT']
state_dfs = []
for state_path in state_paths:
    state_dfs.append(pd.read_csv(state_path, names=state_header))

state_df = pd.concat(state_dfs, ignore_index=True)

In [17]:
state_df.tail()

        STATE SEX  YEAR     NAME  COUNT
5718164    SD   M  2022  Tristan      5
5718165    SD   M  2022    Tyson      5
5718166    SD   M  2022   Warren      5
5718167    SD   M  2022    Zayne      5
5718168    SD   M  2022     Zion      5